{% extends 'main_web/layout.html' %} {% block description %}
    Déjanos tu mensaje
{% endblock %}

{% block keywords %}
    Desarrollo Full Stack, Cursos, Blog, Resgistros, Quiénes Somos, tecnologías, Inteligencia Artificial
{% endblock %}

{% block title %}
    Contacto - Academia Conquer Blocks
{% endblock %} 

{% block body_class %}page-contacto{% endblock body_class %}

{% block page_content %}
    <main class="main">
      <h1 class="main__title">Contacta con nosotros</h1>
      
      {% if success %}
        <div class="alert alert-success">
          ¡Tu mensaje ha sido enviado correctamente!
        </div>
        
        {% else %}
          <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar</button>
          </form>
      {% endif %}
    </main>
{% endblock %}