{% extends 'main_web/layout.html' %}

{% block description %}
    Fórmate con nosotros en nuestros distintos Másters en Desarrollo Full Stack, Blockchain
{% endblock %}

{% block keywords %}
    Desarrollo Full Stack, Cursos, Blog, Resgistros, Quiénes Somos, tecnologías, Inteligencia Artificial
{% endblock %}

{% block title %}
    Academia Conquer Blocks - Quiénes Somos
{% endblock %} 

{% block body_class %}page-quienes-somos{% endblock body_class %}

{% block page_content %}
 <main class="main">
      <section class="main__about">
        <h1 class="main__about-title">Quiénes somos</h1>
        <p class="main__about-text">
          <strong>Conquer Blocks</strong> es un academia de estudios líder en la enseñanda de nuevas profesiones tecnológicas.
          Sus profesores, son profesionales con gran experiencia en el desarrollo web, quienes han trabajado o trabajan, actualmente,
          con empresas importantes en el mundo del desarrollo web y de nuevas tecnologías, tales como: <em>Facebook, IBM, AirBNB, 
          Banco Santander</em>, entre otros.
        </p>
      </section>

      <section class="main__team">
        <figure class="main__logo-figure">
          <img class="main__logo-img" width="400" src="img/logo-conquerblocks-color.png" alt="Logotipo de Conquer Blocks">
        </figure>
        <h2 class="main__subtitle">Nuestro equipo</h2>
        
        <div class="main__team--member-container">
          <article class="main__team-member main__team-member--director">
            <h3 class="main__team-title">Bienvenido Sáez</h3>
            <h4 class="main__team-role">Director Académico</h4>
            <figure class="main__team-figure">
              <img class="main__team-img" src="img/quienes-somos/bienvenido-saez.jpg" alt="Bienvenido Sáez" width="100">
            </figure>    
          </article>      
  
          <article class="main__team-member main__team-member--telecom">
              <h3 class="main__team-title">Yolanda López</h3>
              <h4 class="main__team-role">Ingeniera en Telecomunicaciones</h4>
              <figure class="main__team-figure">
                <img class="main__team-img" src="img/quienes-somos/yolanda-lopez.png" alt="Yolanda" width="100">
              </figure> 
          </article>
  
          <article class="main__team-member main__team-member--telematico">
            <h3 class="main__team-title">Carlos Azaustre</h3>
            <h4 class="main__team-role">Ingeniero Telemático</h4>
            <figure class="main__team-figure">
              <img class="main__team-img" src="img/quienes-somos/carlos-azaustre.png" alt="Carlos" width="100">
            </figure> 
          </article>
        </div>
      </section>
    </main>
{% endblock %} ```

