{% extends 'main_web/layout.html' %} {% block description %}
    Formulario de registro Conquer Blocks
{% endblock %}

{% block keywords %}
    Desarrollo Full Stack, Cursos, Blog, Resgistros, Quiénes Somos, tecnologías, Inteligencia Artificial
{% endblock %}

{% block title %}
    Registro - Academia Conquer Blocks
{% endblock %} 

{% block body_class %}page-registro{% endblock body_class %}

{% block page_content %}
    <main class="main">
      <section class="contact-form">
        <h1 class="title">Formulario de Registro</h1>

        {% if form %}
          <form class="form" action="#" method="post" name="login" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="form__button--container">
              <button class="form__button form__button--submit" type="submit">Registrarse</button>
            </div>
          </form> 
        {% else %}
          <p class="alert alert-success" style="color: green;">{{ msj }}</p>
        {% endif %}
      </section>

    </main>
{% endblock %}